<div class="container">
    <h1>Tindin</h1>
    <h2>Faça seu login</h2>
    <form (ngSubmit)="login()" #f="ngForm" style="display: block;">
        <input #email="ngModel" name="email" type="email" placeholder="Digite seu email " [(ngModel)]="request.email" class="validate" required email>
        <span class="alert" *ngIf="!email.valid && email.touched">Digite um email válido!</span>

        <input #password="ngModel"  name="password" type="password" placeholder="Digite sua  senha" [(ngModel)]="request.password" class="validate" required>
        <span class="alert" *ngIf="!password.valid && password.touched">Digite uma senha válida!</span>
        <br>
        <button [disabled]="!f.valid" mat-raised-button color="primary" (click)="login()">Entrar</button>
        <p>Novo na Tindin?<a routerLink="register" > Cadastrar</a></p>
    </form>
    
</div>

